<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/vandanatiwari/IdeaProjects/seleinumLearning"/>
  <!--  <parameter name="browserName" value="Chrome"/>
    <parameter name="url" value="https://www.google.com/"/>-->
    <test name="ChromeTest">
        <classes>
            <class name="seleniumproject.TestClass.googleSearchTest">
            </class>
        </classes>
    </test>

</suite>